@font-face {
  font-family: 'PainttheSky';
  src: url("PainttheSky-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  font-size: 200%;
  font-family: 'PainttheSky', Chiller;
  /*ar darling*/
  color: white;
  background-color: #001e1e;
}

body header img {
  display: block;
  width: 100%;
  margin: auto;
}

body header h1 {
  position: relative;
  bottom: 12vw;
  text-align: center;
  text-transform: uppercase;
  font-size: 7.5vw;
  font-family: Helvetica, sans-serif;
  text-shadow: 0px 0px 1.5vw #00ffff;
  color: black;
}

body header .socNetWork {
  text-align: center;
  position: relative;
  bottom: 12vw;
}

body header .socNetWork a {
  color: white;
  font-size: 12vw;
  margin: 0 5vw 0 5vw;
}

body header .socNetWork a:hover {
  color: #00caca;
}

@media screen and (min-width: 768px) {
  body header img {
    width: 50%;
  }
  body header h1 {
    position: unset;
    bottom: 0;
    font-size: 3rem;
    margin: 0;
  }
  body header .socNetWork {
    position: unset;
    bottom: 0;
    margin-bottom: 20px;
  }
  body header .socNetWork a {
    font-size: 3rem;
  }
}

body header nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

body header nav > span {
  float: right;
}

body header nav > span .fa-bars {
  display: inline-block;
  margin-top: 10px;
  margin-right: 20px;
  font-size: 2rem;
  color: white;
  border-radius: 5px;
}

body header nav > span .fa-bars:hover {
  -webkit-box-shadow: 0 0 10px #00ffff;
          box-shadow: 0 0 10px #00ffff;
  background-color: #008888;
}

@media screen and (min-width: 768px) {
  body header nav > span .fa-bars {
    font-size: 3rem;
  }
}

body header nav .menuPrincipal {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  margin: 0;
  text-align: right;
  background-color: #969696;
}

body header nav .menuPrincipal a {
  display: block;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 2rem;
  margin: 0;
  padding: 10px;
  border: 1px solid grey;
}

body header nav .menuPrincipal a:not(.active):hover {
  background-color: #ddd;
  color: black;
}

@media screen and (min-width: 992px) {
  body header nav {
    position: static;
  }
  body header nav > span {
    display: none;
  }
  body header nav > .menuPrincipal {
    display: block;
    position: static;
    text-align: center;
    background-color: #001e1e;
    margin: 20px 0 20px 0;
  }
  body header nav > .menuPrincipal > a {
    display: inline;
    font-size: 3rem;
    border: none;
    color: #00e2e2;
    margin: 0 10px 0 10px;
  }
}

body #scroll {
  position: fixed;
  bottom: 20px;
  right: 0;
  z-index: 1;
}

body #scroll .fa-chevron-circle-up {
  margin-right: 20px;
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

body #scroll .fa-chevron-circle-up:hover {
  -webkit-box-shadow: 0 0 10px #00ffff;
          box-shadow: 0 0 10px #00ffff;
  background-color: #008888;
}

@media screen and (min-width: 768px) {
  body #scroll .fa-chevron-circle-up {
    font-size: 3rem;
  }
}

body main {
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 30px 0 30px;
  /* Fenetre modal et diaporama ***********************************/
  /* Fin fenetre modal et diaporama**************************************/
}

body main .form-error-icon {
  font-family: Arial, Helvetica, sans-serif;
}

body main .success, body main .form-error-message {
  position: fixed;
  width: 25%;
  border-radius: 5px;
  padding: 15px;
  font-weight: 600;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body main .form-error-message {
  background-color: #ffdc9a;
  color: #a86d00;
}

body main .success {
  background-color: #9affc4;
  color: #009048;
}

body main h2 {
  margin: 0;
  text-align: center;
  line-height: 2.2rem;
}

@media screen and (min-width: 768px) {
  body main h2 {
    margin: 10px 0 10px 0;
  }
}

body main > article {
  border-top: 1px dashed white;
  border-bottom: 1px dashed white;
  /* The Modal (background) */
  /* The Close Button */
  /* Hide the slides by default */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
}

body main > article > div {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

body main > article .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.815);
}

body main > article .close {
  color: white;
  background-color: black;
  position: absolute;
  float: right;
  right: 15px;
  font-size: 50px;
  font-weight: bold;
  z-index: 10;
}

body main > article .mySlides {
  display: none;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

body main > article .mySlides > img {
  display: block;
  margin: auto;
  width: 90vw;
  height: 90vh;
  -o-object-fit: contain;
     object-fit: contain;
}

body main > article .prev,
body main > article .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -50px;
  padding: 10px;
  color: white;
  background-color: black;
  font-weight: bold;
  font-size: 40px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

body main > article .next {
  right: 0;
}

body main > article img.hover-shadow {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body main > article .hover-shadow:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 576px) {
  body main > .index .hover-shadow {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  body main > .index > div:not(#myModal) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main > .index > div:not(#myModal) > div {
    width: 60%;
    margin-right: 20px;
  }
  body main > .index > div:not(#myModal) > img {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  body main > .index {
    padding-bottom: 20px;
  }
}

body main > .post > .createdAt {
  text-align: right;
  font-style: italic;
  font-size: 1rem;
  margin: 15px 0 5px 0;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {
  body main > .post {
    padding-bottom: 20px;
  }
}

body main #comments label,
body main #comments input,
body main #comments textarea {
  display: block;
  width: 100%;
}

body main #comments input, body main #comments textarea {
  font-family: Arial, Helvetica, sans-serif;
}

body main .comments > #seeComments:hover {
  font-style: italic;
  color: #00f6f6;
}

body main .comments > p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

body main .comments > .comment {
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

body main .comments > .comment > p > span:nth-of-type(1) {
  text-transform: capitalize;
  font-weight: bold;
}

body main .comments > .comment > p:nth-of-type(2) {
  background-color: #008a8a;
  padding: 10px;
}

body main .tracks ul {
  display: block;
  list-style: none;
  padding: 0;
}

body main .tracks ul > li > a {
  text-decoration: none;
  color: white;
}

body main .tracks ul > li > a > img {
  position: relative;
  top: 5px;
}

@media screen and (max-width: 576px) {
  body main .tracks ul > li > a > img.video {
    width: 100%;
  }
}

body main .tracks ul > li > iframe {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  body main .tracks ul > li > iframe {
    width: 560px;
    height: 315px;
  }
}

body main .tracks ul > li > a.player > img {
  display: block;
  margin: auto;
}

body main .tracks ul > li > a.player > img:nth-of-type(2) {
  top: unset;
  bottom: 100px;
}

body main .tracks > div {
  text-align: center;
}

body main .tracks > div > a > img {
  width: 30%;
}

body main .news h2 {
  margin-bottom: 20px;
}

body main .news > article {
  border-top: 1px dashed white;
  padding-bottom: 15px;
}

body main .news > article > h3 {
  margin: 0;
  text-align: unset;
  line-height: 1.6rem;
}

body main .news > article > div > p {
  font-style: italic;
  font-size: 1.2rem;
  margin: 15px 0 15px 0;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 576px) {
  body main .news > article > div img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  body main .news > article > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .news > article > div > p {
    width: 50%;
    margin-right: 20px;
  }
}

body main .news > article .createdAt {
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

body main .news > article > a {
  text-align: center;
  display: block;
  width: 50px;
  margin: auto;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  background-color: #007f7f;
  border-radius: 5px;
  padding: 0px 10px 15px 10px;
}

body main .news > article > a:hover {
  font-style: italic;
  background-color: #00caca;
}

body main > .concerts h2 {
  margin-bottom: 20px;
}

body main > .concerts > article {
  border-top: 1px dashed white;
  padding-bottom: 15px;
}

body main > .concerts > article > h3 {
  margin: 0;
  text-align: unset;
  line-height: 1.6rem;
}

body main > .concerts > article > div {
  font-style: italic;
  font-size: 1.2rem;
  margin: 15px 0 15px 0;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 992px) {
  body main {
    width: 992px;
    margin: auto;
  }
}

body footer {
  margin-top: 10px;
  border-top: 1px dashed white;
}

body footer p {
  margin: 0 0 15px 0;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */