{% extends 'base-admin.html.twig' %}

{% block title %}Nouvel article
{% endblock %}

{% block body %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Nouvel article</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('admin') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Articles</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">
            {{ include('posts/_form.html.twig') }}
            <a href="{{ path('posts_index') }}" class="btn btn-primary">back to list</a>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('adminPosts') }}
{% endblock %}
