
###> symfony/framework-bundle ###
.env
vraisite.text
/.env
.env.test
/.env.test
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/config/secrets/dev/dev.decrypt.private.php
/public/bundles/
/src/.preload.php
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

/public/robots.txt
/public/sitemap.xml
/public/google24d059f959cf4baa.html
config/secrets/dev/dev.APP_SECRET.1cf811.php
config/secrets/dev/dev.dbname.4cd4a4.php
config/secrets/dev/dev.encrypt.public.php
config/secrets/dev/dev.host.67b3db.php
config/secrets/dev/dev.list.php
config/secrets/dev/dev.secret.5ebe22.php
config/secrets/dev/dev.user.ee11cb.php
config/secrets/prod/prod.APP_SECRET.1cf811.php
config/secrets/prod/prod.dbname.4cd4a4.php
config/secrets/prod/prod.encrypt.public.php
config/secrets/prod/prod.host.67b3db.php
config/secrets/prod/prod.list.php
config/secrets/prod/prod.secret.5ebe22.php
config/secrets/prod/prod.user.ee11cb.php
